---
layout: article
title: BLOGS Committee
---

{% for group in site.data.committee %}

  <h3>{{ group.name }}</h3>

  {% if group.people[0] %}
    {% comment %}array of people{% endcomment %}
    <ul>
      {% for person in group.people %}
        <li>{{ person }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <dl>
      {% for person in group.people %}
        {% capture vacant %}
          <i>Vacant ⏤ {% if person[0] == "LGBT+ Community Engagement Officer" %}
            this position on the committee is offered to the incumbent EUSA LGBT+ Liberation Convenor.
          {% else %}
            will be filled by an upcoming Extraordinary General Meeting.
          {% endif %}</i>
        {% endcapture %}
        <dt>{{ person[0] }}</dt>
        <dd>{{ person[1] | default: vacant }}</dd>
      {% endfor %}
    </dl>
  {% endif %}

{% endfor %}
