---
---
<!doctype html>
<html>
  <head>
    <title>BLOGS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<!--     <link rel="stylesheet" href="/css/boundaries.css"> -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    {% include header.html %}
    <main role="main" class="content-wrap">
      {% include event.html %}
      {% include article.html %}
      <ul class="event-list">
        {% include event.html %}
        {% include event.html %}
        {% include event.html %}
        {% include event.html %}
      </ul>
    </main>

    <script src="js/event-list-overflow.js"></script>

  </body>
</html>
