---
layout: article
title: Welcome
author:
  name: Rosie Hawtin and Saaraa Sadiq
  description: Co-presidents
---

<p>Hello, and welcome to the BLOGS website!</p>

<p>We are the University of Edinburgh’s LGBT+ society. We’re here to provide a safe and supportive space for LGBT+ students to socialise, relax, discuss issues, and get involved with the wider community, and we welcome anyone who identifies under the LGBT+ umbrella. We put on a range of events, including casual chatty socials, discussions, informational talks, campaigning, and nights out; all of our events can be found on our {% include link.html link="facebook" content="Facebook Page" %} (subscribe to be notified when we set up an event!) and in our newsletter.</p>

<p>We have set up our committee so that all parts of the LGBT+ community are represented, and you can find out who they are over on our committee page. Our various officers provide advice and support as well as holding their own platform of information, discussion and social events for their sub-group within the society.</p>

<p>Committee members are available to chat if you have any questions, comments or just want to find out more about BLOGS, so please feel free to get in touch with us by {% include link.html link="email" %} or on {% include link.html link="facebook" content="Facebook" %}.</p>

