<article class="article h-entry">
  <footer class="article-author p-author h-card">
    <img src="/images/sam.jpg" alt="Photo of Sam Ryan" class="article-author-photo u-photo">
    <span class="article-author-name p-name">Sam Ryan</span>
    <span class="article-author-job p-job-title">President</span>
  </footer>
  
  <h2 class="article-title p-name">Welcome</h2>
  
  <p>Hello there, Welcome to our website! BLOGS is the University’s bisexual, lesbian, gay, trans*, queer and intersex society. We’re here to provide a safe space for LGBT+ students and friends to socialise, discuss issues and become more involved with the greater LGBT+ community.</p>
</article>
