<article class="event h-event" style="background-image: url('/images/events/{{ include.event.id }}.jpeg');">
  <div class="event-content">
    <h2 class="event-content-name p-name">{{ include.event.name }}</h2>
    <p class="event-content-time">
      <time class="dt-start" datetime="{{ include.event.start_time }}">{{ include.event.start_time | date: "%H:%M · %e %B %Y" }}</time>
    </p>
    <p class="event-content-location p-location">{{ include.event.location }}</p>
    <p class="event-content-link icon-facebook"><a class="u-url" href="https://www.facebook.com/events/{{ include.event.id }}/" title="{{ include.event.name }}">View on Facebook</a></p>
    <p class="event-content-link"><a class="u-url" href="https://www.facebook.com/ical/event.php?eid={{ include.event.id }}">Add to Calendar</a></p>
    <a class="event-cover-link" href="https://www.facebook.com/events/{{ include.event.id }}/" title="{{ include.event.name }}"></a>
  </div>
  <a class="event-cover-link" href="https://www.facebook.com/events/{{ include.event.id }}/" title="{{ include.event.name }}"></a>
</article>

