<header class="header h-card">
  <a href="/" class="header-home-link">
    <h1 class="header-logo p-name"><img src="/images/logo.png" alt="BLOGS" class="header-logo-image u-logo"></h1>
    <p class="header-summary p-label">
      <span class="header-summary-line">Edinburgh University's</span>
      <span class="header-summary-line">LGBT+ Society</span>
    </p>
  </a>
  
  <nav class="header-navigation">
    <a class="header-navigation-link facebook u-url" href="https://www.facebook.com/groups/edunilgbt/"><span class="header-navigation-link-replaceable">Facebook</span></a>
    <a class="header-navigation-link twitter u-url" href="https://twitter.com/EdUniLGBT"><span class="header-navigation-link-replaceable">Twitter</span></a>
    <a class="header-navigation-link" href="mailto:BLOGS — Edinburgh University's LGBT+ Society <blogs.edinburgh@hotmail.co.uk>">Contact</a>
    <a class="header-navigation-link" href="https://www.facebook.com/groups/edunilgbt/events/">Events</a>
    <a class="header-navigation-link" href="https://www.eusa.ed.ac.uk/societies/society/blogs/">Join</a>
    <a class="header-navigation-link" href="">Committee</a>
  </nav>
</header>
