<header class="header h-card">
  <h1 class="header-logo p-name"><img src="/images/logo.png" alt="BLOGS" class="header-logo-image u-logo"></h1>
  <p class="header-summary p-label">
    <span class="header-summary-line">Edinburgh University's</span>
    <span class="header-summary-line">LGBT+ Society</span>
  </p>
  
  <nav class="header-navigation">
    <a class="header-navigation-link facebook u-url" href=""><span class="header-navigation-link-replaceable">Facebook</span></a>
    <a class="header-navigation-link twitter u-url" href=""><span class="header-navigation-link-replaceable">Twitter</span></a>
    <a class="header-navigation-link" href="">Contact</a>
    <a class="header-navigation-link" href="">Events</a>
    <a class="header-navigation-link" href="">Join</a>
    <a class="header-navigation-link" href="">Committee</a>
  </nav>
</header>
