<header class="header h-card">
  <a href="/" class="header-home-link">
    <h1 class="header-logo p-name"><img src="/images/logo.png" alt="BLOGS" class="header-logo-image u-logo"></h1>
    <p class="header-summary p-label">
      <span class="header-summary-line">Edinburgh University's</span>
      <span class="header-summary-line">LGBT+ Society</span>
    </p>
  </a>

  <nav class="header-navigation">
    <a class="header-navigation-link facebook u-url" target="_blank" {% include links/facebook.html %}><span class="header-navigation-link-replaceable">Facebook</span></a>
    <a class="header-navigation-link twitter u-url" target="_blank" {% include links/twitter.html %}><span class="header-navigation-link-replaceable">Twitter</span></a>
    <a class="header-navigation-link" href="/contact.html">Contact</a>
    <a class="header-navigation-link" href="https://www.facebook.com/groups/edunilgbt/events/" target="_blank">Events</a>
    <a class="header-navigation-link" href="/join.html">Join</a>
    <a class="header-navigation-link" href="/committee.html">Committee</a>
  </nav>
</header>
