// BLOGS colors
$gray: #3a3a3a;
$gray-light: #a8a8a8;
$pink: #d10091;
$pink-light: #e87fc8;
$green: #00be7d;
$green-light: #7fdebe;
$yellow: #ffde27;
$yellow-light: #ffee93;

$official-lgbt-pride-colors: (
  #e40304,
  #ff8c00,
  #ffed00,
  #008027,
  #004dff,
  #750787
);

$lgbt-pride-colors: (
  nth($official-lgbt-pride-colors, 1),
  nth($official-lgbt-pride-colors, 2),
  nth($official-lgbt-pride-colors, 3),
  nth($official-lgbt-pride-colors, 4),
  nth($official-lgbt-pride-colors, 5),
  nth($official-lgbt-pride-colors, 6),
  $pink
)
