// BLOGS colors
$gray: #3a3a3a;
$gray-light: #a8a8a8;
$pink: #d10091;
$pink-light: #e87fc8;
$green: #00be7d;
$green-light: #7fdebe;
$yellow: #ffde27;
$yellow-light: #ffee93;

$lgbt-pride-colors: (
  #e40304,
  #ff8c00,
  #ffed00,
  #008027,
  #004dff,
  #750787
);
