@import "colors";

dl {
  margin: 1em 0;
}

dt {
  font-weight: bold;
  font-style: italic;
}

dd {
  text-indent: 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.666667em 0;
}

li {
  list-style: disc inside;
}

.article {
  padding: 1.25em 1em 1em;
  margin: 1em auto;
  background: white;
  max-width: 70ch;
  box-sizing: border-box;
  line-height: 1.25;

  &-author {
    line-height: 1;
    height: 2em;
    text-align: right;
    float: right;
    white-space: nowrap;
    position: relative;

    &-photo {
      position: absolute;
      right: 0;
      width: 2em;
      height: 2em;
      border-radius: 100%;

      & ~ .article-author-name, & ~ .article-author-job {
        margin-right: 3em;
      }
    }

    &-name {
      display: block;
    }

    &-job {
      display: block;
    }
  }

  &-title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
  }

  p {
    margin: 1em 0;
  }

  :link {
    color: $pink;
  }

  :last-child {
    margin-bottom: 0;
  }
}
