@import "colors";
@import "breakpoints";

html {
  background: $green;

  @media (min-width: 75em) {
    padding: 0 10%;

    &:before, &:after {
      content: "";
      position: fixed;
      top: 0;
      bottom: 0;
      width: 50%;
    }

    &:before { left: 0; background: white; }
    &:after { right: 0; background: $green; }
  }
}

html, body {
  min-height: 100%;

  @include big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  font-family: Avenir, "Avenir Next", Helvetica, Arial, sans-serif;
  width: 100%;
}

i {
  font-style: italic;
}
