@import "colors";
@import "breakpoints";

.content-wrap {
  background: $green;
  padding: 0 1em;

  @include big {
    width: 67%;
    min-height: 100%;
    padding-top: 5%;
    box-sizing: border-box;
    float: left;
    position: relative;
    z-index: 1;
  }
}