@import "colors";

.event-list {
  $columns: 3;
  $spacing: 11.5px; // HACK: adjust for display: inline-block adding space
  overflow-x: scroll;
  overflow-y: hidden; // needed in Chrome and Firefox
  width: 100%;
  white-space: nowrap;
  font-size: 1em;
  position: relative;
  max-width: 70ch;
  margin: 0 auto;
  position: relative;
  display: flex;

  // hardware accelarate
  // Chrome lags slightly in applying the coloured overlays
  // without this.
  transform: translateZ(0);

  // HACK: adding the transform makes text thin in Safari
  // apply this globally to all events so ones in .event-list
  // don't stand out.
  //
  // doing this just makes all events have really thin text,
  // which isn't ideal…
  @at-root .event {
    -webkit-font-smoothing: antialiased
  }

  // scroll nicely on iOS
  -webkit-overflow-scrolling: touch;

  &-overflow-indicator {
    font-size: 1rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4em;
    z-index: 1;

    @each $direction in ("left", "right") {
      &.#{$direction} {
        background: linear-gradient(to #{$direction}, rgba($pink, 0), $green);
      }
    }
  }

  .event {
    display: inline-block;
    margin: 0 $spacing 0 0;
    white-space: initial;

    // make single events full width
    &:only-of-type {
      display: block;
    }

    // make dual events fill space
    &:first-of-type:nth-last-of-type(2), &:last-of-type:nth-of-type(2) {
      width: calc(50% - 8px);
    }

    &:only-of-type, &:last-of-type {
      margin-right: 0;
    }
  }
}
