@import "colors";

@font-face {
  font-family: entypo;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/entypo/2.0/entypo-social.ttf);
}

@function em($em, $font-size) {
  @return ($em * 1em) / $font-size * 1em;
}

.event {
  $background-color: rgba($pink, 0.8);

  background: opacify($background-color, 1) url(https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12540761_1142664845753372_976838192188168226_n.jpg?oh=1d051924effaa6f98f8cefda9e961a92&oe=5730D024);
  background-size: cover;
  background-position: center center;
  margin: 1em auto;
  color: white;
  line-height: (20px / 16px);
  max-width: 70ch;
  overflow: hidden;
  position: relative;

  &:hover:before {
    content: "";
    background: rgba($background-color, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-cover-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-content .event-cover-link {
    right: -50%; // go over ::after
  }

  .event-content-link {
    position: relative;
    float: left; // don't overlap background past end of text
    clear: both;
    z-index: 1000;

    &:hover {
      opacity: 0.8;
    }
  }

  &-content {
    z-index: 1;
    display: inline-block;
    background: $background-color;
    padding: 1em 1em 1.25em;
    position: relative;

    &-name {
      $font-size: 2em;

      font-size: $font-size;
      font-weight: bold;
    }

    &-link a {
      color: inherit;
    }

    &:before {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      content: "";
      height: 20em;
      display: block;
      background: linear-gradient(to bottom, $background-color, rgba($background-color, 0));
    }

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 50%;
      content: "";
      display: block;
      background: linear-gradient(to right, $background-color, rgba($background-color, 0));
      z-index: -1;
    }
  }
}
