@import "colors";

.event-list {
  $columns: 3;
  $spacing: 2%;
  overflow-x: scroll;
  overflow-y: hidden; // needed in Chrome and Firefox
  width: 100%;
  white-space: nowrap;
  font-size: 1em;
  position: relative;
  max-width: 70ch;
  margin: 0 auto;
  
  // hardware accelarate
  // Chrome lags slightly in applying the coloured overlays
  // without this.
  transform: translateZ(0);
  
  // scroll nicely on iOS
  -webkit-overflow-scrolling: touch;
  
  .event {
    display: inline-block;
    font-size: 1rem;
    width: 40%;
    box-sizing: border-box;
    margin: 0 $spacing 0 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
}