---
layout: base
---

{% if page.url == "/" or page.url == "/index.html" %}
  {% assign event = site.data.events.data | last %}
  {% include event.html event=event %}
{% endif %}

{{ content }}

{% if page.url == "/" or page.url == "/index.html" %}
  <ol class="event-list">
    <li>
      {% for event in site.data.events.data reversed %}
        {% if forloop.index == 1 %}
          {% continue %}
        {% endif %}
        {% include event.html event=event %}
      {% endfor %}
    </li>
  </ol>
{% endif %}
