---
layout: base
---

{% assign events = site.data.events.page.data | sort: 'start_time' %}

{% if page.url == "/" or page.url == "/index.html" %}
  {% assign event = events | first %}
  {% if event %}
    {% include event.html event=event %}
  {% endif %}
{% endif %}

{{ content }}

{% if page.url == "/" or page.url == "/index.html" %}
  <ol class="event-list">
    <li>
      {% for event in events %}
        {% if forloop.index == 1 %}
          {% continue %}
        {% endif %}
        {% include event.html event=event %}
      {% endfor %}
    </li>
  </ol>
{% endif %}
